!!! strict
html(xmlns='http://www.w3.org/1999/xhtml')
head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    block head
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900', rel='stylesheet')
    link(href='stylesheets/default.css', rel='stylesheet', type='text/css', media='all')
    link(href='stylesheets/fonts.css', rel='stylesheet', type='text/css', media='all')
    //if IE 6
      link(href='default_ie6.css', rel='stylesheet', type='text/css')
  body
  	  block content
      #featured-wrapper
        #featured.extra2.container
          .main-title
            h2 Contribute
            span.byline If you like this work, please considering contributing!
          .ebox1
            span.fa.fa-cogs
            .title
              h2 Contribute Code
              span.byline We have everything up on GitHub.
            p
              | Dota2Stats is powered by
              a(href='http://nodejs.org/', rel='nofollow') Node.js
              | and
              a(href='http://www.windowsazure.com/en-us/', rel='nofollow') Windows Azure
              | . Review our code!
            a.button(href='https://github.com/felix8/dota2stats') Visit GitHub repo
          .ebox2
            span.fa.fa-sun-o
            .title
              h2 Contribute Ideas
              span.byline Improve the Dota2 community. 
            p
              | Start with the
              a(href='http://blog.dota2.com/', rel='nofollow') official Dota2 blog
              | . Visit the
              a(href='http://www.reddit.com/r/dota2', rel='nofollow') Reddit
              | page. Try the Dota 2
              a(href='http://dev.dota2.com/', rel='nofollow') developer forum
              | .
            a.button(href='http://blog.dota2.com/') Get Dota2
    #copyright.container
      p
        | Copyright (c) 2013 dota2stats.azurewebsites.net. All rights reserved. | Photos by
        a(href='http://fotogrph.com/') Fotogrph
        | | Design by
        a(href='http://www.freecsstemplates.org/', rel='nofollow') FreeCSSTemplates.org
        | .